<% if current_user %>
<h1>Quests</h1>
<% @quests.each do |quest| %>
<h3><a href="quests/<%= quest.id %>"><%= quest.title %></a> <%= quest.exp %> XP</h3>
<% end %>
<% else %>
No quests available.
<% end %>