<% provide(:title, @user.email) %>
<div class="row">
    <section class="user_info">
      <h1>
        <%= @user.email %>
      </h1>
      <% if @user.is_game_master === true %>
        <p>You are a Game Master</p>
        <% else %>
        <p>You are not a Game Master</p>
      <% end %>
    </section>
</div>