
<% if current_user %>
<p style="color: green">currently logged in as <%= current_user.email %>

<p>Select your character : </p>
<% @players.each do |player| %>
<h1><%= player.name %></h1>
<% end %>

<% else %>

 Please Register to start a new game.
 <p><%= link_to "Register", "register" %></p>

 <p>Already have an account?
  <%= link_to "Login", "login" %>
  <p>

<% end %>