<% if current_user %>
<% @players.each do |player| %>
<h1><%= player.name %></h1>
<p>HP : <%= player.hp %></p>
<p> Strength : <%= player.strength %></p>
<p> XP : <%= player.xp %></p>
<% end %>
<% else %>

No players found

<% end %>